<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>搜索</title>
</head>

<body>
    <div class="container">
        <div class="searchBox">
            <!-- <label for="poesessid">POESESSID:</label> -->
            <input id="poesessid" type="text" placeholder="输入POESESSID">
            <button class="button">查询价格</button>
        </div>
        <div class="searchList">
            <div class="card-wrap">
                <div class="item-card">
                    <div class="item-icon"><img src="https://poecdn.game.qq.com/gen/image/WzI1LDE0LHsiZiI6IjJESXRlbXMvQ3VycmVuY3kvRXNzZW5jZS9IYXRyZWQ3IiwidyI6MSwiaCI6MSwic2NhbGUiOjF9XQ/81249b110a/Hatred7.png" alt=""></div>
                    <div class="item-body">
                        <div class="item-name">憎恨之破空精华</div>
                        <div class="item-prize-wrap">
                            <div class="item-prize-title">价格:</div>
                            <div class="item-prize-list">
                                <div class="item-prize">
                                    <span>10</span>
                                    <span>×</span>
                                    <img src="https://poecdn.game.qq.com/gen/image/WzI1LDE0LHsiZiI6IjJESXRlbXMvQ3VycmVuY3kvQ3VycmVuY3lSZXJvbGxSYXJlIiwic2NhbGUiOjF9XQ/46a2347805/CurrencyRerollRare.png">
                                </div>
                                <div class="item-prize">
                                    <span>10</span>
                                    <span>×</span>
                                    <img src="https://poecdn.game.qq.com/gen/image/WzI1LDE0LHsiZiI6IjJESXRlbXMvQ3VycmVuY3kvQ3VycmVuY3lSZXJvbGxSYXJlIiwic2NhbGUiOjF9XQ/46a2347805/CurrencyRerollRare.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        const data = testData.map(res => {
            const item = res.result[0].item;
            return {
                item: {
                    baseType: item.baseType,
                    icon: item.icon,
                    league: item.league,
                    stackSize: item.stackSize
                },
                list: res.result.map(child => ({
                    price: { ...child.listing.price, image: currencyList[child.listing.price.currency]?.image }
                }))
            };
        });
        console.log(data);
    </script>
</body>

</html>